.snackbar-info {
  color: black !important;
  background: white !important;
}

.snackbar-success {
  color: #e0f2f1 !important;
  background: #009688 !important;
}

.snackbar-error {
  color: white !important;
  background: #f44336 !important;
}
